---
apiVersion: v1
kind: Namespace
metadata:
  name: secret-operator-system
  labels:
    app.kubernetes.io/name: internal-secrets-operator
    app.kubernetes.io/component: manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: secret-operator-controller
  namespace: secret-operator-system
  labels:
    app.kubernetes.io/name: internal-secrets-operator
    app.kubernetes.io/component: manager
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: internal-secrets-operator
      app.kubernetes.io/component: manager
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: internal-secrets-operator
        app.kubernetes.io/component: manager
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: manager
          image: controller:latest
          args:
            - --leader-elect=false
            - --metrics-bind-address=:8080
            - --health-probe-bind-address=:8081
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
            - containerPort: 8081
              name: health
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
      serviceAccountName: secret-operator-controller
      terminationGracePeriodSeconds: 10
